:root {
    --c-navyblue: #1a253b;
    --c-purple: #5f22a8;
    --c-orange: #ff4600;
    --c-black: #414141;
    --c-seadarkblue: #007693;
    --bg-light: #f5f9f2;
    --bg-dark: #edece6;
    --bg-input: #e0e7e0;
}

.app {
    display: grid;
    grid-template-areas:
        ' pesquisa logo menu carrinho carrinho carrinho'
        ' categorias categorias categorias categorias categorias categorias ';

    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    padding: 0% 15%;
}

main {
    background-color: var(--bg-light);
}

#pesquisa {
    grid-area: pesquisa;
}

#logo {
    grid-area: logo;
    color: var(--c-orange);
    text-align: right;
}

#menu {
    grid-area: menu;
}

#carrinho {
    grid-area: carrinho;
    width: 30%;
}

#categorias {
    grid-area: categorias;
}

.logo__mobly {
    font-size: 1.5rem;
}


.pesquisa__container {
    display: flex;
    justify-content: center;
}

.pesquisa__form {
    display: flex;
    justify-content: flex-end;
}

.pesquisa__form input {
    background-color: var(--bg-input);
    border-radius: 2px;
    border: none;
    height: 50px;
    margin-right: 10px;
    width: 200px;
}

.pesquisa__form button {
    background-color: var(--c-purple);
    color: var(--bg-light);
    border-radius: 5px;
    border: none;
    width: 70px;
    font-weight: bold;
    margin-left: 5px;
}

.navegacao__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.navegacao__lista li {
    margin-right: 30px;
}

.navegacao__lista span {
    display: block;
}

.carrinho__container {
    display: flex;
    justify-content: center;
}

.carrinho__botao {
    background-color: var(--c-purple);
    color: var(--bg-light);
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 70px;
    font-weight: bold;

}

.categorias__menu {
    font-weight: 600;
    color: var(--c-purple);
    cursor: pointer;
    font-size: 1.2rem;
    justify-content: space-evenly;
    display: flex;
    width: 86%;
}

.--dropdown {
    color: var(--c-black);
}

.categorias__menu li:hover {
    color: var(--c-orange);
}