:root {
    --c-navyblue: #1a253b;
    --c-purple: #5f22a8;
    --c-orange: #ff4600;
    --c-black: #414141;
    --c-seadarkblue: #007693;
    --c-white: #FFF;
    --bg-light: #f5f9f2;
    --bg-dark: #edece6;
    --bg-input: #e0e7e0;
}

.app {
    display: grid;
    grid-template-areas:
        ' pesquisa logo menu carrinho carrinho carrinho'
        ' categorias categorias categorias categorias categorias categorias '
        ' lancamentos lancamentos lancamentos lancamentos lancamentos lancamentos '
        ' ofertas ofertas ofertas ofertas ofertas ofertas'
        ' produto-centro produto-centro produto-centro produto-centro produto-centro produto-centro'
        ' ofertas2 ofertas2 ofertas2 ofertas2 ofertas2 ofertas2'
        ' especiais especiais especiais especiais especiais especiais';

    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;
    margin: 0 auto;


}

#pesquisa {
    grid-area: pesquisa;

}

#logo {
    grid-area: logo;
    color: var(--c-orange);
    text-align: right;
}

#menu {
    grid-area: menu;
}

#carrinho {
    grid-area: carrinho;
    width: 30%;
}

#categorias {
    grid-area: categorias;
    border-top: 1px solid var(--bg-dark);

}

#lancamentos {
    grid-area: lancamentos;
    background-image: url('../img/Destaque/lancamento-desktop.jpg');
    background-size: 100%;
    height: 450px;
    background-repeat: no-repeat;

}

#ofertas {
    background-color: var(--bg-light);
    grid-area: ofertas;
}

#produto-centro {
    grid-area: produto-centro;
}

#mais-ofertas {
    grid-area: ofertas2;
    background-color: var(--bg-light);
}

#especiais {
    grid-area: especiais;
}

.logo__mobly {
    font-size: 1.5rem;
}

.logo__mobly h1:hover {
    cursor: pointer;
    transition: 1s;
    color: var(--c-purple);
}

.pesquisa__container {
    display: flex;
    justify-content: center;
}

.pesquisa__form {
    display: flex;
    justify-content: flex-end;
}

.pesquisa__form input {
    background-color: var(--bg-input);
    border-radius: 2px;
    border: none;
    height: 50px;
    margin-right: 10px;
    width: 200px;
}

.pesquisa__form button {
    background-color: var(--c-purple);
    color: var(--bg-light);
    border-radius: 5px;
    border: none;
    width: 70px;
    font-weight: bold;
    margin-left: 5px;
}

.pesquisa__form button:hover {
    cursor: pointer;
    background-color: var(--c-orange);
    transition: 1s;

}

.pesquisa__form input {
    padding: 0px 20px;
    font-style: italic;
}

.navegacao__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.navegacao__lista i {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.navegacao__botao {
    border: none;
    background-color: var(--bg-white);
    font-weight: bold;
    margin-right: 30px;
}

.navegacao__lista button:hover {
    cursor: pointer;
    color: var(--c-orange);
    transition: 1s;

}

.navegacao__lista li {
    margin-right: 30px;
    text-align: center;

}

.navegacao__lista i {
    color: var(--c-purple);
}

.navegacao__lista__icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.carrinho__container {
    display: flex;
    justify-content: center;
}

.carrinho__botao {
    background-color: var(--c-purple);
    color: var(--bg-light);
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 70px;
    font-weight: bold;

}

.carrinho__botao:hover {
    cursor: pointer;
    background-color: var(--c-orange);
    transition: 1s;

}

.categorias__menu {
    font-weight: 600;
    color: var(--c-purple);
    cursor: pointer;
    font-size: 1.2rem;
    justify-content: space-evenly;
    display: flex;
    width: 86%;
    list-style-type: none;
}

.categorias__menu i {
    color: var(--c-orange);
}

.categorias__menu--dropdown {
    color: var(--c-black);
}

.categorias__menu li:hover {
    color: var(--c-orange);
    transition: 1s;

}

.lancamentos__container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.lancamentos__container span {
    font-size: 10rem;
    font-weight: 600;

}

.lancamentos__container p {
    font-size: 1.2rem;
    color: var(--c-navyblue);
    opacity: 0.5;
    font-weight: 600;
}

.lancamentos__botao {
    width: 10%;
    background-color: var(--c-seadarkblue);
    border: none;
    color: var(--c-white);
    padding: 10px 5px;
    border-radius: 5px;
    font-weight: 600;
}

.lancamentos__botao:hover {
    background-color: var(--c-orange);
    cursor: pointer;
    transition: 1s;

}

.ofertas__container {
    margin-top: -80px;
}

.ofertas__container h1 {
    margin-left: 22%;
    font-size: 1.2rem;
    font-weight: 600;
}

.ofertas__produtos {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.ofertas__produtos img {
    margin-right: 50px;

}

.ofertas__produtos img:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 1s;
}

.produto-centro__banner img {
    width: 100%
}

.produto-centro__banner:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: 1s;
}

.mais-ofertas__produtos {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
    margin-top: 60px;
}

.mais-ofertas__produtos img {
    margin-right: 30px;
}

.mais-ofertas__produtos img:hover {
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

.especiais__container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.especiais__imagens {
    display: flex;
    flex-direction: column;
}

.especiais__container img:hover {
    cursor: pointer;
    opacity: 0.5;
    transition: 1s;
}

@media only screen and (max-width: 1790px) {

    .lancamentos__container span {
        font-size: 6rem;
    }

    .lancamentos__container p {
        font-size: 1rem;
        margin-top: -5px;
    }

    .lancamentos__botao {
        width: 15%;
    }

    #lancamentos {
        height: 400px;
    }

    .ofertas__container h1 {
        margin-left: 18%;
        margin-top: -100px;
    }

}

@media only screen and (max-width: 1360px) {

    .lancamentos__container span {
        font-size: 6rem;
    }

    .lancamentos__container p {
        font-size: 1rem;
        margin-top: -5px;
    }

    .lancamentos__botao {
        width: 15%;
    }

    #lancamentos {
        height: 300px;
    }

    .ofertas__container h1 {
        margin-left: 7%;
        margin-top: 20px;
    }

}