:root {
    --c-navyblue: #1a253b;
    --c-purple: #5f22a8;
    --c-orange: #ff4600;
    --c-black: #414141;
    --c-seadarkblue: #007693;
    --c-white: #FFF;
    --bg-light: #f5f9f2;
    --bg-dark: #edece6;
    --bg-input: #e0e7e0;
}

.app {
    display: grid;
    grid-template-areas:
        ' pesquisa logo menu carrinho carrinho carrinho'
        ' categorias categorias categorias categorias categorias categorias '
        'lancamentos lancamentos lancamentos lancamentos lancamentos lancamentos ';

    font-family: 'Source Sans Pro', sans-serif;
    align-items: center;

}

main {}

#pesquisa {
    grid-area: pesquisa;

}

#logo {
    grid-area: logo;
    color: var(--c-orange);
    text-align: right;
}

#menu {
    grid-area: menu;
}

#carrinho {
    grid-area: carrinho;
    width: 30%;
}

#categorias {
    grid-area: categorias;
    border-top: 1px solid var(--bg-dark);

}

#lancamentos {
    grid-area: lancamentos;
    height: 500px;
    background-image: url('../img/Destaque/lancamento-desktop.jpg');
    background-size: 100%;
    background-repeat: no-repeat;

}

.logo__mobly {
    font-size: 1.5rem;
}


.pesquisa__container {
    display: flex;
    justify-content: center;
}

.pesquisa__form {
    display: flex;
    justify-content: flex-end;
}

.pesquisa__form input {
    background-color: var(--bg-input);
    border-radius: 2px;
    border: none;
    height: 50px;
    margin-right: 10px;
    width: 200px;
}

.pesquisa__form button {
    background-color: var(--c-purple);
    color: var(--bg-light);
    border-radius: 5px;
    border: none;
    width: 70px;
    font-weight: bold;
    margin-left: 5px;
}

.pesquisa__form button:hover {
    cursor: pointer;
    background-color: var(--c-orange);
}

.pesquisa__form input {
    padding: 0px 20px;
    font-style: italic;
}

.navegacao__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
}

.navegacao__lista i {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.navegacao__botao {
    border: none;
    background-color: var(--bg-white);
    font-weight: bold;
    margin-right: 30px;
}

.navegacao__lista button:hover {
    cursor: pointer;
    color: var(--c-orange);
}

.navegacao__lista li {
    margin-right: 30px;
    text-align: center;

}

.navegacao__lista i {
    color: var(--c-purple);
}

.navegacao__lista__icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.carrinho__container {
    display: flex;
    justify-content: center;
}

.carrinho__botao {
    background-color: var(--c-purple);
    color: var(--bg-light);
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 70px;
    font-weight: bold;

}

.carrinho__botao:hover {
    cursor: pointer;
    background-color: var(--c-orange);
}

.categorias__menu {
    font-weight: 600;
    color: var(--c-purple);
    cursor: pointer;
    font-size: 1.2rem;
    justify-content: space-evenly;
    display: flex;
    width: 86%;
    list-style-type: none;
}

.categorias__menu i {
    color: var(--c-orange);
}

.--dropdown {
    color: var(--c-black);
}

.categorias__menu li:hover {
    color: var(--c-orange);
}

.lancamentos__container {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.lancamentos__container span {
    font-size: 10rem;
    font-weight: 600;

}

.lancamentos__container p {}

.lancamentos__botao {
    width: 15%;
    background-color: var(--c-seadarkblue);
    border: none;
    color: var(--c-white);
    padding: 15px;
    border-radius: 5px;
    font-weight: 600;
}

.lancamentos__botao:hover {
    background-color: var(--c-orange);
    cursor: pointer;
}